streamlit==1.4.0
openai==0.28.0
sentence-transformers
pandas
altair
plotly
Pillow
streamlit-option-menu
langchain
tiktoken
loguru
qrcode
langchain-community
pypdf
hydralit_components
openpyxl
faiss-cpu