streamlit
openai==0.28.0
sentence-transformers
pandas
streamlit-option-menu
plotly
Pillow
langchain
tiktoken
loguru
hydralit-components
ultralytics
requests
beautifulsoup4
selenium
webdriver-manager
folium
streamlit-folium
opencv-python
opencv-python-headless